/*
these are all for the  home_page, also the #home is going to be used for the other 2 pages
*/
#orginal_header{
	text-align:  center;
	width: 95%;
	float: left;
}
#home{
	clear: right;
}
#inner_home{
	float: left;
	width: 5%;
	clear: right;
}
#fund-message{
	width: 95%;
padding-top: 5%;
text-align: center;
}
#left-pic{
	width: 50%;
	float: left;
}
#right-pic{
	width: 50%;
	float: left;
}
