/*
these are all for the  home_page, also the #home is going to be used for the other 2 pages
*/
body
{
	background-color: #333333;
	font-family: Arial;
	color: white;
}
#orginal_header
{
	text-align:  center;
	width: 95%;
	float: left;
}
#home
{
	clear: right;
}
#inner_home
{
	float: left;
	width: 5%;
	clear: right;
}
#fund-message
{
	width: 95%;

	padding-top: 2%;

	text-align: center;
}
#left-pic
{
	padding-left: 10%;
	width: 45%;
	float: left;
}
#right-pic
{
	width: 45%;
	float: left;
}
#donate-button
{
	padding-left: 30%;
	float: left;
}
.break
{
	clear: both;
	padding: 10px 0 10 0;
	position:	relative;
	bottom:	10px;
	border-bottom: 7px double white;
}
.plane-container
{
	height:	100%;
	width:	95%;
	padding: 0 0 0 0;
	margin: 0 auto;
	/*border-bottom: 10px double white;*/
}
.plane-pics
{
	width: 45%;
	float: left;
}
.text
{
	padding: 23% 0 0 0;
	text-align: center;
	width: 45%;
	float: right;
}

.in
{
	height:	23em;
	width:	43em;
	/*height:	450px;
	width:	700px;
	/*height: 70%;
	width:	110%;*/
}

.out
{
	height:	23em;
	width:	43em;
	/*height: 70%;
	width:	110%;*/
}

.social-media
{
	display: inline;
	width: 95%;
	bottom: 0;
	right: 0;
}
#facebook
{
	height: 40px;
	width: 40px;
}
#twitter
{
	height: 40px;
	width: 40px;
}
#gofundme
{
	height: 40px;
	width: 40px;
}

.homeButton
{
	width: 3.2em;
	height: 1.5em;
	color: white;
	background-color: grey;
	margin:	0;
}

.homeButton h5
{
	position: relative;
	top:	5px;
	left:	5px;
}

a
{
	text-decoration: none;
	color:	white;
}
