/*
these are all for the  home_page, also the #home is going to be used for the other 2 pages
*/
body
{
	background-color: #333333;
	font-family: Arial;
	color: white;
}
#orginal_header{
	text-align:  center;
	width: 90%;
	float: left;
}
#home{
	clear: right;
}
#inner_home{
	float: left;
	width: 5%;
	clear: right;
}
#fund-message{
	width: 95%;
	padding-top: 2%;
	text-align: center;
}
#left-pic{
	padding-left: 10%;
	width: 45%;
	float: left;
}
#right-pic{
	width: 45%;
	float: left;
}
#donate-button{
	padding-left: 30%;
	float: left;
}
.hideable {
    display: none;
}	
.social-media
{
	display: inline;
	width: 95%;
	bottom: 0;
	right: 0;
}
#facebook
{
	height: 40px;
	width: 40px;
}
#twitter
{
	height: 40px;
	width: 40px;
}
#gofundme
{
	height: 40px;
	width: 40px;
}

.homeButton
{
	color: purple;
	background-color: red;
	width:	2em;
}
#home-intro-text{

	float: left;
	width: 35%;
	clear:right;
}
#first-carasole{
	float: left;
}
a{
	text-decoration: none;
	color: white;
}
#home1-image{
	width: 140%;
}
#carasole{
	float: left;
	width: 60%;
}
#house-text{
	float: left;
}





